@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    margin: 0;
    background-color: #F28482;
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

nav {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

nav ul li{
    list-style: none;
    font-size: larger;
    font-weight: 600;
    color: #F28482;
}
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.search-container {
    background-color: #F5CAC3;
    float: left;
    border-radius: 50px;
}

input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    font-size: 17px;
    border: none;
    background: transparent;
    outline: none;
}

input ::placeholder{
    color: #ddd;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    margin-bottom: 8px;
    background: transparent;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.account-options {
    float: right;
}

.account-options a {
    padding: 14px 20px;
    background-color: #84A59D;
    margin-right: 10px;
    border-radius: 30px;
    font-weight: 500;
}

.child{
    margin: 0 auto;
    height: 90vh;
    width: 90%;
    background-color: #F7EDE2;
    border-radius: 15px;
}

#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 20vh);
}

#leftportion{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 80%;
}

#leftportion button{
    padding: 20px 30px 20px 30px;
    border: none;
    border-radius: 40px;
    background-color: #F6BD60;
    font-family: Montserrat;
    font-weight: 800;
    text-transform: uppercase;
    color: #F7EDE2;
    width: 200px;
    text-align: center;
    font-size: larger;
    cursor: pointer;
}

#title{
    font-family: "Madimi One", sans-serif;
    font-size: 64px;
    font-weight: 800;
    color: #F28482;
}

#text{
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    font-size: 24px;
    color: #F6BD60;
}

#choose-card{
    background-color: #84a59d6b;
    height: 70px;
    width: 200px;
    border-radius: 20px;
    padding: 20px;
}

#choose-card span{
    color: #84A59D;
    font-weight: 800;
}

#choose-card div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 10px;
}

#choose-card div svg{
    padding: 10px;
    background-color: #84a59d6e;
    border-radius: 50%;
}

#choose-card div span{
    padding: 10px;
    background-color: #F7EDE2;
    border-radius: 30%;
}

#rightportion figure{
    width: 420px;
    height: 420px;
    object-fit: cover;
}

#rightportion figure img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#logo{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}